.about-us {
    margin: 20px;
    font-size: large;
    text-align: center;
}

.about-us p {

    color: white;
    padding: 10px 20px;
    line-height: 1.5;
    background-color: rgba(83, 83, 83, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-size: large;
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    text-align: left;
}

.about-us a {
    color: #333333;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 10px;
    transition: all 0.2s;
}

.link-icon  {
    margin-left: 5px;
}

.about-us a:hover {
    background-color: rgba(51, 51, 51, 0.6);
    
    color: white;
    border-radius: 3px;
}

.read-more {
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: white;
    font-family: 'Poppins';
    font-size: large;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.read-more:hover {
    border-bottom: 2px solid white; 
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}