.section {
    display: block;
    max-height: 20%;
    min-width: 400px;
    max-width: 600px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    cursor: default;
    transition:all 0.3s;
}

.section:hover {
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(10px);
}

.section-info {
    display: flex;
}

.section-header {
    text-align: left;
    margin: 0;
    font-family: 'Poppins';
    font-size: 40px;
}

.section-content {
    margin: 10px 0;
    font-family: 'Inter Tight';
    font-size: 20px;
    line-height: 1.5;
}

.section-image {
    display: flex;
    margin: 0 20px;
}

.section-image img {
    border-radius: 10px;
}